<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOURS MULTIPLAYER</title>
    <script src="/static/index.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="hero">
        <h1>Hours Multiplayer Server</h1>
        <p>The server for an hours multiplayer script using websockets.</p>
        <h2 id="connectedplayers">? Connected Player(s)</h2>
    </div>


    <div class="grid" id="player-grid"></div>
</body>
</html>